<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../css/jquery.fancybox.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
</head>

<body>
   
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo"><a href="index.html"><b><img src="../../assets/images/logo.png" alt=""> </b><span class="brand-title"><img src="../../assets/images/logo-text.png" alt=""></span></a>
            </div>
            <div class="nav-control">
                <div class="hamburger"><span class="line"></span>  <span class="line"></span>  <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content">
                <div class="header-right">
                    <ul>
                        <li class="icons">
                            <a href="javascript:void(0)" class="log-user">
                                <img src="../../assets/images/avatar/1.jpg" alt=""> <span>Shubham</span>  <i class="fa fa-caret-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-profile animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()"><i class="icon-user"></i> <span>My Profile</span></a>
                                        </li>
                                        <li><a href="javascript:void()"><i class="icon-wallet"></i> <span>My Wallet</span></a>
                                        </li>
                                        <li><a href="javascript:void()"><i class="icon-envelope"></i> <span>Inbox</span></a>
                                        </li>
                                        <li><a href="javascript:void()"><i class="fa fa-cog"></i> <span>Setting</span></a>
                                        </li>
                                        <li><a href="javascript:void()"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="admin-login.html"><i class="icon-power"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="mega-menu mega-menu-lg">
                        <a href="institute-application.html" aria-expanded="false">
                            <i class="mdi  mdi-city"></i><span class="nav-text">New Institute Applications</span></a>
                        </li>
                        <li class="mega-menu mega-menu-lg">
                        <a  href="manage-application.html" aria-expanded="false">
                            <i class="mdi mdi-bank"></i><span class="nav-text">Manage Institutes</span></a>
                        </li>
                        <li
                         class="mega-menu mega-menu-lg">
                            <a  href="manage-student.html" aria-expanded="false">
                                <i class="mdi mdi-account-multiple"></i><span class="nav-text">Manage Students</span></a>
                       </li>
                    </ul>
           </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col p-md-0">
                        <h4 class="text-center">Manage Institutes</h4>
                    </div>
                    <!-- <div class="col p-md-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">App</a>
                            </li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs d-md-flex justify-content-center">
                                            <li class="nav-item"><a href="#new-application" data-toggle="tab" class="nav-link active show">Old Institute</a>
                                            </li>
                                            <li class="nav-item"><a href="#resolved" data-toggle="tab" class="nav-link">Add Institute</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="new-application" class="tab-pane fade active show">
                                                <div class="card transparent-card">
                                                    <div class="card-body p-0">
                                                        <div class="table-responsive">
                                                            <table class="table table-padded recent-order-list-table table-responsive-fix-big">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td> <span class="text-pale-sky text-capitalize">Application by - Akaash Institute</span>
                                                                        </td>
                                                                        <td> <span class="text-pale-sky text-capitalize">Classes - 2</span>
                                                                        </td>
                                                                        <td><a href="view-manage.html" class="text-primary">View</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td> <span class="text-pale-sky text-capitalize">Application by - Akaash Institute</span>
                                                                        </td>
                                                                        <td> <span class="text-pale-sky text-capitalize">Classes - 1</span>
                                                                        </td>
                                                                        <td><a href="view-manage.html" class="text-primary">View</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td> <span class="text-pale-sky text-capitalize">Application by - Akaash Institute</span>
                                                                        </td>
                                                                        <td> <span class="text-pale-sky text-capitalize">Classes - 1</span>
                                                                        </td>
                                                                        <td><a href="view-manage.html" class="text-primary">View</a></td>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <nav>
                                                            <ul class="pagination pagination-rounded pagination-md justify-content-end">
                                                                <li class="page-item active"><a class="page-link" href="javascript:void()">1</a></li>
                                                                <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                                                                <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                                                                <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                                                                <li class="page-item"><a class="page-link" href="javascript:void()">5</a></li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="resolved" class="tab-pane fade">
                                                <div class="card transparent-card">
                                                    <div class="card-body p-0">
                                                        <div class="card forms-card">
                                                            <div class="card-body">
                                                                <div class="basic-form">
                                                                    <form>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Institute Name</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername1" aria-describedby="validationDefaultUsername1">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Email</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="mail" class="form-control" id="validationDefaultUsername2" aria-describedby="validationDefaultUsername2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Password</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="password" class="form-control" id="validationDefaultUsername3" placeholder="Password Input" aria-describedby="validationDefaultUsername3">
                                                                                </div>
                                                                            </div>
                                                                        </div> -->
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Add Class</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername4" aria-describedby="validationDefaultUsername4">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Mention Start Date</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername10" aria-describedby="inputGroupPrepend2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Mention End Date</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername11" aria-describedby="inputGroupPrepend2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Select box</label>
                                                                            <div class="col-lg-9">
                                                                                <select class="form-control">
                                                                                    <option class="text-muted" disabled="" selected="" style="display: none">Select the value Only</option>
                                                                                    <option>Option 1</option>
                                                                                    <option>Option 2</option>
                                                                                    <option>Option 3</option>
                                                                                </select>
                                                                            </div>
                                                                        </div> -->
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Mention Price</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername6" aria-describedby="inputGroupPrepend2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Add subjects</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername7" aria-describedby="inputGroupPrepend2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Mention board</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername5" aria-describedby="validationDefaultUsername5">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Mention Language</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" id="validationDefaultUsername8" aria-describedby="inputGroupPrepend2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row align-items-center">
                                                                            <label class="col-sm-3 col-form-label text-label">Upload File</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <input type="file" class="form-control" id="validationDefaultUsername9" aria-describedby="inputGroupPrepend2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                        <div class="form-group row">
                                                                            <label class="col-sm-3 col-form-label text-label">Textarea</label>
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group">
                                                                                    <textarea class="form-control" id="textarea1" name="textarea1" rows="6"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group text-center">
                                                                        <button type="submit" class="btn btn-primary btn-form mx-auto">Submit</button></div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed by <a href="">Lorem</a>, Developed by <a href="">ipsum</a> 2020</p>
        </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../../assets/plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/jquery.fancybox.js"></script>
    <script src="../js/styleSwitcher.js"></script>
</body>

</html>